.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "d m";
}

.dialogsItems {
  padding: 10px;
  grid-area: d;
  color: white;
}

.dialogsItems .active {
  color: gold;
}

.dialog {
  color: white;
}

.messages {
  padding: 10px;
  grid-area: m;
}

.messages .message {
  color: white;
}
